body{
    background-image: url("./images/bg.jpg") no-repeat center center fixed;
    width: 600px;
    height: 800px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
